
 .image {
  width : 300px;
  height: 200px;
  ;
 }
 
 li{list-style-type:none;}

li span{font-weight: bold;}


.border1
{display:flex;  flex-wrap: wrap;
    width: 670px;
    height:670px;
    border: 1px solid black;
    padding:10px;
    background-color: lightblue;
;
}

.border2
{display:flex;  flex-wrap: wrap;
    width: 670px;
    border: 1px solid black;
    padding:10px;
    background-color: white;
    
}



  
  